<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Username Validator</title>
</head>
<body>
    
</body>
</html>

{% if messages%}
<ul>
    {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Username entered:</h3>
<table>
    {% for username in usernames %}
    <tr>
        <td>{{ username.username }}</td>
        <td>{{ username.created_at }}</td>
        <td><form action="/delete/{{username.id}}" method='post'>
            {% csrf_token %}
            <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>